baseURL = 'https://example.org/'
languageCode = 'en-us'
title = 'Rahul Myana'
theme = 'hermit'

[markup.goldmark.renderHooks.image]
enableDefault = true

[markup.goldmark.renderHooks.link]
enableDefault = true

[[module.mounts]]
source = 'assets'
target = 'assets'

[[module.mounts]]
source = 'attachments'
target = 'assets/attachments'

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true